<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.dhruv.registration.controller.Registration</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <filter>
    	<filter-name>corsFilter</filter-name>
    	<filter-class>com.dhruv.filter.FilterClass</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>corsFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
